{% extends 'core/base.html' %}

{% block title %}Contact | {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
     .fa {
      display: inline-block; 
      line-height: 30px;
      padding: 15px 20px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 10px;
      font-size: 30px;
      text-decoration: none;
    }
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
      display: inline-block;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-instagram {
        background: rgb(235, 39, 114);
        color: white;
    }
    </style>
    <body>
      <center> 
    <h1><strong>CUSTOMER CARE:</strong> </h1>
    <p> 001001001001</p><br>

    <h1><strong>Phone</strong></h1>
    <p>Monday – Sunday: 8.00 – 22.00</p><br>

    <br><h1><strong>MAIL US AT:</strong></h1>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contactus@fashiononrent.com&su=subject_here&body=body_here">contactus@fashiononrent.com</a>
    <br><br>

    <br><h1><strong>LET'S CONNECT ON SOCIAL MEDIA: </strong></h1>
    <div style="display: inline-block;">
        <a  href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a  href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
        <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
    </div>    
    <br><br>

    <br><h1><strong>FASHION ON RENT®</strong></h1>
    <p>47 Mark Street</p>
    <p>South Melborne 3205</p>
    <p>Australia</p>
 
  </center>


    
    
    </body>



{% endblock %}