{% extends 'core/base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    {% if product.image %}
        <figure class="image is-4by3 mb-6">
            <img src="{{ product.image.url }}">
        </figure>
    {% endif %}

    <h1 class="title">{{ product.title }}, ${{ product.price }}</h1>
    <p class="mb-3"><b>Security Amount (Refundable) </b> : {{product.security}}</p>

    <br>
    <p class="mb-3"><span class="tag is-dark">{{ product.vendor.name }}</span></p>
    <p class="mb-5">
        {% for tag in product.tags.all %}
            <span class="mr-3 tag">{{ tag }}</span>
        {% endfor %}
    </p>

    <p>{{ product.description }}</p>

    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-toast">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    {% ifequal request.user.id product.vendor.created_by.id %}
        <!--change-->
        <a href="{% url 'add_product' %}" class="button is-dark is-uppercase" >Edit Product </a>
    {% else %}
        <form method="post" action=".">
            {% csrf_token %}
            <div class="control">
                <input type="submit" name="addToCart" class="button is-dark is-uppercase" value="Add To Cart"/>
            </div>
        </form>    
    {% endifequal %}
    
    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}